# Core system settings
BR2_arm=y
BR2_cortex_a72=y
BR2_ARM_FPU_NEON_VFPV4=y

# Required for RPi4 and LCD35
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_15=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y

# System configuration
BR2_ROOTFS_DEVICE_TABLE="system/device_table.txt"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_PITLAB_PATH)/board/pitlab/wallet/rootfs-overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/pitlab/wallet/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/pitlab/wallet/post-image.sh"

# Linux kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,raspberrypi,linux,5.15.y)/linux-5.15.y.tar.gz"
BR2_LINUX_KERNEL_DEFCONFIG="bcm2711"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="bcm2711-rpi-4-b"
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y

# Required for LCD35 display
BR2_PACKAGE_FBCP=y
BR2_PACKAGE_RPI_FIRMWARE=y
BR2_PACKAGE_RPI_FIRMWARE_DT_OVERLAYS=y
BR2_PACKAGE_FBSET=y
BR2_PACKAGE_FBGRAB=y
BR2_PACKAGE_UDEV=y
BR2_PACKAGE_UDEV_RULES_GEN=y
BR2_PACKAGE_EVTEST=y
BR2_PACKAGE_TSLIB=y

# Filesystem / image
BR2_TARGET_GENERIC_HOSTNAME="pitlab-wallet"
BR2_TARGET_GENERIC_ISSUE="Welcome to PitLab Wallet"
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="512M"
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MTOOLS=y