[Unit]
Description=Display PitLab Wallet splash on tty1
After=systemd-user-sessions.service plymouth-quit-wait.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pitlab-wallet-splash.sh
StandardOutput=tty
StandardInput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
RemainAfterExit=yes

[Install]
WantedBy=default.target
