[Unit]
Description=Run touchscreen calibration on first boot only
After=local-fs.target
Before=trezor-emu.service ts-uinput.service
ConditionPathExists=!/var/lib/pitlab-wallet/.calibrated

[Service]
Type=oneshot
ExecStart=/usr/local/bin/touchscreen-calibration-once.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target
