[Unit]
Description=tslib uinput remapper for touchscreen
After=local-fs.target
Before=trezor-emu.service
ConditionPathExists=/var/lib/pitlab-wallet/pointercal

[Service]
Type=simple
ExecStart=/usr/local/bin/ts-uinput.sh
Restart=on-failure

[Install]
WantedBy=default.target
