[Unit]
Description=Trezor Core Emulator (PitLab Wallet)
Documentation=https://github.com/trezor/trezor-firmware
After=trezord.service ts-uinput.service touchscreen-calibration-once.service
Requires=trezord.service

[Service]
Type=simple
ExecStart=/usr/local/bin/trezor-emu
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
User=root
Group=root
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
PrivateNetwork=true
PrivateDevices=false
SupplementaryGroups=input video
Environment=DISPLAY=:0
Environment=SDL_VIDEODRIVER=fbcon
Environment=SDL_FBDEV=/dev/fb0
Environment=TSLIB_TSDEVICE=/dev/input/event0
Environment=TSLIB_CALIBFILE=/var/lib/pitlab-wallet/pointercal
Environment=TSLIB_CONFFILE=/etc/ts.conf
Environment=TSLIB_PLUGINDIR=/usr/lib/ts
SyslogIdentifier=trezor-emu

[Install]
WantedBy=default.target
