[Unit]
Description=Trezor Core Emulator
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/trezor-emu
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
